appdirs==1.4.4
APScheduler==3.6.3
backports.zoneinfo==0.2.1
black==21.9b0
cachetools==4.2.2
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
importlib-metadata==4.8.1
mypy-extensions==0.4.3
Panda3D==1.10.10
pathspec==0.9.0
platformdirs==2.4.0
python-decouple==3.5
python-telegram-bot==13.7
pytz==2021.3
regex==2021.10.23
six==1.16.0
tomli==1.2.2
tornado==6.1
typed-ast==1.4.3
typing-extensions==4.2.0
tzdata==2021.2.post0
tzlocal~=2.0
zipp==3.6.0
